body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: orange;
    padding: 10px 0;
}

.nav-link {
    margin-right: 20px; /* Adds padding between the links */
    cursor: pointer;
}

.nav-title {
    font-weight: bold;
}

/* Main body table form styling */
.table-container {
    width: 100%; /* Full width of the container */
    margin: 0 auto;
    text-align: center;
    overflow-x: auto; /* Adds horizontal scrolling if the table is too wide */
}

table {
    width: 100%; /* Table takes full width of the container */
    margin-top: 20px;
    border-collapse: collapse;
}

.button-container {
    text-align: center; /* Center-aligns inline or inline-block elements */
    margin-top: 10px; /* Optional: Adds space above the buttons */
}

.button-container button {
    margin: 5px; /* Adds spacing between buttons */
}

.button-container button:focus {
    outline: none; /* Optional: Removes the default focus outline */
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5); /* Adds a glow effect */
    background-color: #007bff; /* Changes background color */
    color: white; /* Changes text color */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for the effect */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #f0f0f0;
}

button {
    margin-top: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Optional: for better visibility */
    z-index: 1; /* To make sure it appears above other elements */
    font-family: Arial, sans-serif;
    font-size: 1em;
    top: 100%; /* Start right below the parent element */
    left: 0;
    background-color: white; /* Or any desired background color */
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.inform-profile-btn {
    width: auto;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inform-profile-btn:hover {
    background-color: darkorange;
}

.user-details {
    margin-bottom: 20px;
}

.login-form h2, .account-creation-form h2 {
    text-align: center;
}

.login-form button, .account-creation-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover, .account-creation-form button:hover {
    background-color: darkorange;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px; /* Add some spacing */
}

.account-create-link {
    margin-top: 10px; /* Space between the link and the login button */
    text-align: center; /* Center the link */
}

.account-create-link a {
    color: #007bff; /* Different color for differentiation */
    font-size: 0.9em; /* Smaller size */
    text-decoration: none; /* Remove underline */
}

.account-create-link a:hover {
    text-decoration: underline; /* Add underline on hover for better user experience */
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px; /* Add some spacing */
}

.amount-cell {
    text-align: right; /* Right-align the amount */
}

/* Update Profile button styling */
.update-profile-btn {
    display: inline-flex; /* Center the button */
    margin: 10px auto; /* Vertical margin and auto horizontal margin for centering */
    width: auto;
    padding: 10px;
    background-color: #1f883d;
    border-color: rgba(31,35,40,0.15);
    color: #ffffff;
    fill: rgba(255,255,255,0.8);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Section divider styling */
.section-divider {
    border: 0;
    height: 1px;
    background-color: #ccc; /* Grey color */
    margin: 20px 0; /* Space above and below the divider */
}

/* Style for narrow horizontal separators within the form */
.section-separator {
    border: 0;
    height: 0.5px; /* Narrower than section-divider */
    background-color: #ccc;
    margin: 20px 0;
}

.note {
    min-height: 17px;
  margin: 4px 0 2px;
  font-size: 12px;
  color: #656d76;
}
